@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fcdab7;
  margin: 0px 10px;
  background-color: #1d2d50;
}

button{
  background-color: #1e5f74;
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

button:hover:enabled {
  background-color: #fcdab7;
  color: #1d2d50;
}

button:disabled,
button[disabled]{
  color: grey;
  cursor: default;
}

video {
  background: #2c3e50;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#webcamVideo {
  width: auto;
  max-width: 90vw;
  height: 20vh;
}

#remoteVideo{
  width: 90vw;
  height: 60vh;
}

@media (min-width: 576px) {
  .videos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
  }
  #webcamVideo, #remoteVideo{
    width: 40vw;
    height: 30vw;
    margin: 0rem 2rem;
  }
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

input{
  padding: 10px 0px;
  margin: 5px;
}

